@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;500&family=Dela+Gothic+One&family=Lato:wght@300&family=Mochiy+Pop+P+One&family=Oswald:wght@700&family=Quicksand:wght@300&family=Roboto+Mono&family=Ubuntu+Mono&display=swap');
.containerr
{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
font-family: 'Quicksand', sans-serif !important;
}
.heading
{
    font-weight: 900 !important;
    font-size: 3.5rem;
    color: #054872;
}
.btn
{
    background-color: #054872 !important;
    color: white;
    font-weight: 800 !important;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
}

.h2,.span
{
    color: #c1876c !important;
    fill-opacity: 1;
    font-weight: 800 !important;
}
.p{
    font-size: 1.5rem;
    font-weight: 600;
}
.col
{
    position: relative !important;
}
.whatsapp
{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
@media screen and (max-width:992px) {
    .img
    {
        display: none;
    }
}
@media screen and (max-width:576px)
{
    .containerr
    {
        box-shadow: none;
        border: none !important;
    }
    
    .gy-5
    {
        --bs-gutter-y:1rem !important;
    }
}