.name
{
    font-size: 2.5rem !important;
font-weight: 700;
}
nav{
    background-color: #0F5A85;
}
@media screen and (max-width:560px) {
    .name
    {
        font-size: 1.5rem !important;
    }
}