.slider-image {
  height: 100vh;
}
img {
  height: 100%;
}
.carousel-indicators [data-bs-target]
{
  border-radius: 50%;
  height: 15px !important;
  width: 15px !important;
}
@media screen and (max-width:400px) {
  .w-100
  {
    width: 50% !important;
  }
}