
img{
    position: absolute;
    left: 3rem;
    width: 1300px;
    height: 500px;
    top: 5rem;
    -webkit-clip-path: polygon(0 0, 29% 0, 59% 100%, 0% 100%);
    clip-path: polygon(0 0, 29% 0, 59% 100%, 0% 100%);
    z-index: -1;
}
#right{
    position: absolute;
    left: 3rem;
    top: 5rem;
    width: 1170px;
    height: 500px;
    background-color: rgb(72, 151, 255);
    -webkit-clip-path: polygon(32.4% 0, 100% 0, 100% 100%, 65.8% 100%);
    clip-path: polygon(32.4% 0, 100% 0, 100% 100%, 65.8% 100%);
    z-index: -1;
}
h1{
    position: absolute;
    left: 35rem;
    color: white;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    position: absolute;
    left: 40rem;
    top: 6.5rem;
    text-shadow: 0 0 4px black;
}
.always{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    margin-top: -1.5rem;
    font-weight: bold;
}
.at{
    position: absolute;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: bold;
}
.your{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    font-weight: bold;
    margin-left: 7rem;
    writing-mode: vertical-rl;
    unicode-bidi: bidi-override;
    direction: ltr;
}
.service{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    margin-top: 1.5rem;
    font-weight: bold;
}
.text{
    position: absolute;
    color: white;
    margin-left: 55rem;
    top: 12rem;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}
.who{
    color: red;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px black;
}
.addre{
    position: absolute;
    color: white;
    margin-left: 45rem;
    top: 25rem;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}
.contact{
    position: absolute;
    color: white;
    margin-left: 55rem;
    top: 31rem;
}
#mail{
    text-decoration: none;
}
#mail:hover,#mail:focus{  
    color: rgb(0, 12, 179);  
    cursor:pointer
}
.line{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: white;
    -webkit-clip-path: polygon(46% 0, 52% 0, 53% 100%, 47% 100%);
    clip-path: polygon(46% 0, 52% 0, 53% 100%, 47% 100%);
    z-index: 3;
    width: 5rem;
    height: 11.5rem;
    left: 51rem;
    top: 12rem;
}
