@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gideon+Roman&family=Irish+Grover&family=Permanent+Marker&family=Poppins:ital,wght@0,100;1,400&family=Roboto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gideon+Roman&family=Irish+Grover&family=Permanent+Marker&family=Poppins:ital,wght@0,100;1,400&family=Roboto+Serif:wght@100&family=Shippori+Antique+B1&display=swap');

body {
    background-color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 1000;
    margin: 0;
    padding: 0;
}
header .row {
    background-image: linear-gradient(62deg, rgb(217, 235, 255) 0%, rgb(158, 169, 255) 100%);
    padding-top: 2rem;
    height: 10%;
}
.logo {
    width: 5rem;
    height: 4rem;
    margin-left: 2rem;
}
#headerlogotitle {
    color: white;
    font-size: 27px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 1rem;
    color: black;
}
.commonnavs {
    color: black;
    margin-top: 1.5rem;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
}
#notificationlogo{
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.473);
    border-radius: 5px;
    padding: 2px;
    margin-top: 1rem;
    margin-left: -6rem;
}
#create{
    color: rgb(0, 0, 255);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -2rem;
    margin-left: -3rem;
}
.box{
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 6rem;
    width: 200%; 
    height: 90%; 
    overflow: auto; 
    background-image: linear-gradient(62deg, rgb(217, 235, 255) 0%, rgb(158, 169, 255) 100%);
}
i{
    margin-left: 7rem;
}
#arrowleft{
    position: absolute;
    top: 3rem;
    color: rgb(0, 0, 0);
}
#arrowleft:hover,#arrowleft:focus{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
h1{
    position: absolute;
    top: 4rem;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -1.5rem;
    margin-left: 9rem;
    font-style: bolder;
}
h2{
    position: absolute;
    top: 5rem;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 9rem;
    font-style: bolder;
}
.container{
    position: absolute;
    margin-left: 10rem;
    margin-top: 2rem;
}
#box1{
    width: 18px;
    height: 18px;
}
#designer{font-family: 'Times New Roman', Times, serif;}
#box2{
    width: 18px;
    height: 18px;
}
#photo{font-family: 'Times New Roman', Times, serif;}
#box3{
    width: 18px;
    height: 18px;
}
#printer{font-family: 'Times New Roman', Times, serif;}
#box4{
    width: 18px;
    height: 18px;
}
#user{font-family: 'Times New Roman', Times, serif;}
#checkbox{
    width: 18px;
    height: 18px;
}
.container1{
    position: absolute;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap:7px 60px;
    margin-left: 10rem;
    margin-top: 1rem;
    z-index: 3;
    font-family: 'Times New Roman', Times, serif;
}
.itme{
    background-color: whitesmoke;
    border: 2px rgb(58, 53, 53) solid;
    border-radius: 5px;
}
#category{
    height: 2rem;
    width: 12.6rem;

}
#design{
    height: 2rem;
    width: 12.6rem;

}
#ID{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    margin-top: 21rem;
    margin-left: 10rem;
}
.container2{
    position: absolute;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 0px 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 23rem;
    margin-left: 10rem;
    border-radius: 5px;
}
button{
    position: absolute;
    background-color: rgb(49, 190, 255);
    font-family: 'Times New Roman';
    color: aliceblue;
    border-radius: 5px;
    width: 15rem;
    margin-left: 43rem;
    top: 34rem;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
}
.container3{
    position: absolute;
    background-color: aliceblue;
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
    margin-left: 53rem;
    top: 10rem;
    border-style: dashed;
    border-width: 2px;
    border-color: rgba(27, 24, 24, 0.527);
}
.drag{
    position: relative;
    color: rgba(22, 22, 22, 0.452);
    font-family: Arial, Helvetica, sans-serif;
    top: 7rem;
}
.profile{
    position: absolute;
    color: rgb(20, 19, 19);
    margin-left: 56.5rem;
    top: 26rem;
    font-family:'Times New Roman';
}
